<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LearnFlow</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <link href="../static/css/transalte_btn.css" rel="stylesheet">

    <!-- miei -->
    <link href="../static/css/stylesheet.css" rel="stylesheet">
    <script src="../static/js/cookie_handler.js" ></script>
</head>



<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-light bg-light ">

    <div class="container-fluid">

        <div class="justify-content-start">
            <a class="navbar-brand" href="#">
                <img src="../../../img/logoLF-t.png" width="180" height="49" alt="">
            </a>
        </div>

        <div class="nav-item mt-3">
            <div id="google_translate_element">
                <!--BUTTON FOR TRANSLATION-->
            </div>
        </div>

        <div class="">
            <button class="navbar-toggler dropdown"
                    type="button"
                    data-toggle="collapse"
                    data-target="#infox">
                <i class="fas fa-user"></i>
            </button>

            <div class="collapse navbar-collapse text-right" id="infox">
                <ul class="navbar-nav ml-auto my-auto">

                    <li class="nav-item my-auto ml-4">
                        <div class="m-auto">
                            <h1 id="put_username" class="nav-link" style="color: #049dff;" translate="no"> </h1>
                        </div>
                    </li>

                    <li>
                        <hr>
                    </li>

                    <li class="nav-item my-auto ml-4">
                        <div class=" row justify-content-center input-group-append mb-2">
                            <h4 class="my-auto mr-2">Score </h4>
                            <h2 class="my-auto" id="put_pnt2" style="color: #049dff;"> - </h2>
                        </div>
                    </li>

                    <li class="nav-item my-auto ml-4">
                        <div class="">
                            <button type="button" class="btn btn-success btn-danger" onclick="exit_user_2()">
                                Click to exit
                            </button>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>

<br>


<!-- contenuto -->
    <div class="container">

        <div class="row">
            <div class="col-12 justify-content-center my-2 text-center">

                <h1>
                    Multiple choice exercise
                </h1>

                <h5>
                    Select the correct answer
                </h5>

                <h4 id="put_title">
    <!-- INSERISCI QUI IL TITOLO DELL'ESERCIZIO -->
                </h4>

            </div>
        </div>


        <div class="row justify-content-center my-2 text-center">

            <div class="btn-group btn-group-toggle btn-group-vertical col-12" data-toggle="buttons">

                <button id="option1" class="btn btn-outline-success my-2 p-auto rounded btn-quiz">
                    <input id="radio1" type="radio" name="option" autocomplete="off"></input>
    <!--RISPOSTA 1-->
                </button>

                <button id="option2"  class="btn btn-outline-success my-2 rounded btn-quiz">
                    <input id="radio2" type="radio" name="option" autocomplete="off"></input>
    <!--RISPOSTA 2-->
                </button>

                <button id="option3" class="btn btn-outline-success my-2 rounded btn-quiz">
                    <input id="radio3" type="radio" name="option" autocomplete="off"></input>
    <!--RISPOSTA 3-->
                </button>

                <button id="option4" class="btn btn-outline-success my-2 rounded btn-quiz">
                    <input id="radio4" type="radio" name="option" autocomplete="off"></input>
    <!--RISPOSTA 4-->
                </button>

            </div>

    <!--CONFIRM BUTTON-->
            <div class="row justify-content-center">
                <button class="btn btn-outline-primary my-4" data-toggle="button" onclick="controlla()">
                    <h5 class="my-auto"> Confirm </h5>
                </button>
            </div>

        </div>

<!--RENDILE INVISIBILI A CONVENIENZA [se c'è o no un altro (tipo di) esercizio]-->
        <div class="row p-2 justify-content-around">
            <div class="col-4 m-2 ombra text-center container-fluid rounded">
                <h4>Back</h4>
            </div>
            <div class="col-4 m-2 ombra text-center container-fluid rounded ">
                <h4>Next</h4>
            </div>
        </div>

    </div>

<script>
    document.onload(carica({{data}},{{ex}}))
</script>
<script src="../static/js/esRispostaMultipla.js"></script>
</body>

</html>